.app {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
}

.close {
    position: absolute;
    right: 0.5%;
    top: 0.5%;
}

.horizontal {
    background-image: url('https://static.aviapark.com/files/155333/960x576_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.vertical {
    background-image: url('https://static.aviapark.com/files/155333/nc_ss19_620x960px_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.progress__bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

img {
    width: 99.5vw;
    max-height: 99.5vh; /*or auto*/
}